<a href="https://colab.research.google.com/github/douglascdsantos/unesp_estatistica_e_probabilidade/blob/main/aula01/tabela%20de%20frequencia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
planilha = pd.read_excel('https://github.com/douglascdsantos/unesp_estatistica_e_probabilidade/blob/main/aula01/dados_Aula_01.xlsx?raw=true', index_col='Id')
planilha

   Turma Sexo  Idade   Alt  Peso  Filhos Fuma Toler
Id
1      A    F     17  1.60  60.5       2  NAO     P
2      A    F     18  1.69  55.0       1  NAO     M
3      A    M     18  1.85  72.8       2  NAO     P
4      A    M     25  1.85  80.9       2  NAO     P
5      A    F     19  1.58  55.0       1  NAO     M
6      A    M     19  1.76  60.0       3  NAO     M
7      A    F     20  1.60  58.0       1  NAO     P
8      A    F     18  1.64  47.0       1  SIM     I
9      A    F     18  1.62  57.8       3  NAO     M
10     A    F     17  1.64  58.0       2  NAO     M
11     A    F     18  1.72  70.0       1  SIM     I
12     A    F     18  1.66  54.0       3  NAO     M
13     A    F     21  1.70  58.0       2  NAO     M
14     A    M     19  1.78  68.5       1  SIM     I
15     A    F     18  1.65  63.5       1  NAO     I
16     A    F     19  1.63  47.4       3  NAO     P
17     A    F     17  1.82  66.0       1  NAO     P
18     A    M     18  1.80  85.2       2  NAO     P
19     A    F     20  1.60  54.5       1  NAO     P
20     A    F     18  1.68  52.5       3  NAO     M
21     A    F     21  1.70  60.0       2  NAO     P
22     A    F     18  1.65  58.5       1  NAO     M
23     A    F     18  1.57  49.2       1  SIM     I
24     A    F     20  1.55  48.0       1  SIM     I
25     A    F     20  1.69  51.6       2  NAO     P
26     A    F     19  1.54  57.0       2  NAO     I
27     B    F     23  1.62  63.0       2  NAO     M
28     B    F     18  1.62  52.0       1  NAO     P
29     B    F     18  1.57  49.0       2  NAO     P
30     B    F     25  1.65  59.0       4  NAO     M
31     B    F     18  1.61  52.0       1  NAO     P
32     B    M     17  1.71  73.0       1  NAO     P
33     B    F     17  1.65  56.0       3  NAO     M
34     B    F     17  1.67  58.0       1  NAO     M
35     B    M     18  1.73  87.0       1  NAO     M
36     B    F     18  1.60  47.0       1  NAO     P
37     B    M     17  1.70  95.0       1  NAO     P
38     B    M     21  1.85  84.0       1  SIM     I
39     B    F     18  1.70  60.0       1  NAO     P
40     B    M     18  1.73  73.0       1  NAO     M
41     B    F     17  1.70  55.0       1  NAO     I
42     B    F     23  1.45  44.0       2  NAO     M
43     B    M     24  1.76  75.0       2  NAO     I
44     B    F     18  1.68  55.0       1  NAO     P
45     B    F     18  1.55  49.0       1  NAO     M
46     B    F     19  1.70  50.0       7  NAO     M
47     B    F     19  1.55  54.5       2  NAO     M
48     B    F     18  1.60  50.0       1  NAO     P
49     B    M     17  1.80  71.0       1  NAO     P
50     B    M     18  1.83  86.0       1  NAO     P

In [3]:
planilha.Toler.value_counts()

P    21
M    19
I    10
Name: Toler, dtype: int64

In [4]:
planilha.Toler.value_counts(normalize=True)*100

P    42.0
M    38.0
I    20.0
Name: Toler, dtype: float64

In [5]:
tabela = pd.DataFrame({'frequência': planilha.Toler.value_counts(),
                   'frequência relativa': planilha.Toler.value_counts(normalize=True)*100})

In [6]:
tabela

   frequência  frequência relativa
P          21                 42.0
M          19                 38.0
I          10                 20.0